<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/css/oksub.css">
</head>
<body class="ok-body-scroll">
<div class="ok-body">
    <!--模糊搜索区域-->
    <div class="layui-row">
        <div class="layui-form layui-col-md12 ok-search ok-menuPageSearch">
            <input class="layui-input" placeholder="权限名称" name="name" autocomplete="off">
            <input class="layui-input" placeholder="权限标识" name="code" autocomplete="off">
            <input class="layui-input" placeholder="权限路径" name="url" autocomplete="off">
            <button class="layui-btn pageSearch">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md3">
            <div id="permissionTree">树形结构的菜单</div>
        </div>
        <div class="layui-col-md9">
            <table class="layui-hide" id="permissionTable" lay-filter="tableFilter"></table>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="../../static/lib/layui/layui.js"></script>
<script>
    layui.use(["element", "table", "laydate", "tree", "jquery", "okUtils"], function () {
        let okUtils = layui.okUtils;
        let $ = layui.jquery;


        let menuPage = okUtils.tableInit({
            elem: '#permissionTable',
            title: "系统菜单",
            url: okUtils.menuPage,
            // 开启表格头部工具栏区域，该参数支持四种类型 https://www.layui.com/doc/modules/table.html#skin
            toolbar: true,
            cols: [
                [
                    {field: "id", title: "ID", width: 170, sort: true, fixed: "left"},
                    {field: "name", title: "权限名称", width: 100},
                    {field: "permit", title: "权限标识", width: 150},
                    {field: "url", title: "权限路径", width: 150},
                    {field: "parentName", title: "父菜单", width: 100},
                    {field: "type", title: "类型", width: 100, templet: "#typeTpl"},
                    {field: "createTime", title: "创建时间", width: 150},
                    {field: "updateTime", title: "创建时间", width: 150},
                    {title: "操作", width: 100, templet: "#operationTpl", align: "center", fixed: "right"}
                ]
            ],
            done: function (res, curr, count) {
                // 数据渲染完的回调。你可以借此做一些其它的操作
                console.info(res, curr, count);
            }
        });


        //搜索按钮的搜索事件
        $('.pageSearch').click(function () {
            let searchParam = {
                "name": $(".ok-menuPageSearch input[name='name']").val(),
                "code": $(".ok-menuPageSearch input[name='code']").val(),
                "url": $(".ok-menuPageSearch input[name='url']").val(),
            };
            menuPage.reload({
                where: searchParam,
                page: {
                    //重新从第 1 页开始
                    curr: 1
                }
            })
        });




    });
</script>
<!--行工具栏模板-->
<script type="text/html" id="operationTpl">
    <a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
<script type="text/html" id="typeTpl">
    {{#  if(d.type == 0){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">目录</span>
    {{#  } else if(d.type == 1){ }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">菜单</span>
    {{#  } else if(d.type == 2) { }}
    <span class="layui-btn layui-btn-danger layui-btn-xs">按钮</span>
    {{#  } }}
</script>
</body>
</html>
