<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/css/oksub.css">
</head>
<body>
<div class="ok-body">
    <!--form表单-->
    <div class="layui-form layui-form-pane ok-form roleForm">
        <div class="layui-form-item">
            <label class="layui-form-label">角色编码</label>
            <div class="layui-input-block">
                <input type="text" name="code" placeholder="角色编码" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="角色名称" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" placeholder="角色描述" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="sort" placeholder="排序" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn roleSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="../../static/lib/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(["element", "okLayer", "okUtils"], function () {
        let $ = layui.jquery;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        $(".roleSubmit").click(function () {
            let roleForm = {
                "name": $(".roleForm input[name='name']").val(),
                "code": $(".roleForm input[name='code']").val(),
                "description": $(".roleForm input[name='description']").val(),
                "sort": $(".roleForm input[name='sort']").val(),
            };
            roleForm = JSON.stringify(roleForm);
            okUtils.ajax(okUtils.roleSave, "post", roleForm, true).done(function (response) {
                okLayer.greenTickMsg("添加成功", function () {
					parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }).fail(function (res) {
                okLayer.redCryMsg(res.message);
            });
        });
    })
</script>
</body>
</html>
