<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Calm</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="../static/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/login/css/main.css">
    <script type="text/javascript" src="../static/lib/loading/okLoading.js"></script>
</head>

<body>
<div class="limiter">
<!--        <div class="container-login100" style="background-image: url('../static/login/images/login_bg.jpg');">-->
    <div class="container-login100">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <div class="login100-form" id="login_form">
                    <span class="login100-form-title p-b-49">登录</span>
                    <form>
                        <div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
                            <span class="label-input100">用户名</span>
                            <input class="input100" type="text" name="username" placeholder="请输入用户名" autocomplete="off">
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="请输入密码">
                            <span class="label-input100">密码</span>
                            <input class="input100" type="password" name="password" placeholder="请输入密码">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                    </form>
                    <div class="text-right p-t-8 p-b-31">
                        <a href="javascript:">忘记密码？</a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" id="login_form_btn">登 录</button>
                        </div>
                    </div>

                    <div class="txt1 text-center p-t-54 p-b-20">
                        <span>第三方登录</span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-wechat"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-qq"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-weibo"></i>
                        </a>
                    </div>

                    <div class="flex-col-c p-t-25">
                        <a href="javascript:" class="txt2">立即注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/lib/layui/layui.js"></script>
</body>
<script>
    layui.use(["okUtils", "okLayer", "okCookie"], function () {
        let okUtils = layui.okUtils;
        let $ = layui.jquery;
        let okLayer = layui.okLayer;
        okLoading.close();

        /**
         * 键盘的事件监听
         */
        $("body").on("keydown", function (event) {
            event = event || window.event;
            // 按 Enter
            if (event && event.keyCode === 13) {
                login();
            }
        });

        /**
         * 点击登录按钮
         */
        $('#login_form_btn').on('click', function (event) {
            login();
        });

        /**
         * 请求登录接口
         */
        function login() {
            const username = $("#login_form input[name='username']").val();
            const password = $("#login_form input[name='password']").val();
            const params = {
                "username": username,
                "password": password
            }
            okUtils.ajaxForm(okUtils.login, "post", params, true).done(function (response) {
                let user_token_key = okUtils.tokenKey;
                let user_token = response.data;
                // okUtils.local(user_token_key,user_token);
                //参考：https://www.cnblogs.com/hellofangfang/p/9626797.html
                loginAfterSetCookie(user_token_key,user_token);
                okLayer.greenLaughMsg("登陆成功。")
                window.location.href = "/main";
            }).fail(function (res) {
                okLayer.redCryMsg(res.message);
            });
        }

        function loginAfterSetCookie(key,val){
            $.cookie(key,val,{expires:okUtils.cookieExpires,domain:okUtils.cookieDomain,path:okUtils.cookiePath})
        }

    });

</script>
</html>