<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calm.user.persistence.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.calm.user.api.entity.SysMenu">
        <!--@Table sys_menu-->
        <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="pcode" column="pcode" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="levels" column="levels" jdbcType="INTEGER"/>
        <result property="menuFlag" column="menu_flag" jdbcType="BOOLEAN"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="newPageFlag" column="new_page_flag" jdbcType="VARCHAR"/>
        <result property="openFlag" column="open_flag" jdbcType="VARCHAR"/>
        <result property="systemType" column="system_type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
    </resultMap>

    <!--默认列表字段-->
    <sql id="column_default">
        menu_id
        , code, pcode, name, icon, url, sort, levels, menu_flag, description, status, new_page_flag, open_flag, system_type, create_time, update_time, create_user, update_user
    </sql>
    <select id="page" resultType="com.calm.user.api.vo.SysMenuVo">
        select
        <include refid="column_default"/>
        from sys_menu
        <where>
            <if test="qo.name != null and qo.name != ''">
                and name like CONCAT('%', #{qo.name}, '%')
            </if>
            <if test="qo.code != null and qo.code != ''">
                and code = #{qo.code}
            </if>
            <if test="qo.url != null and qo.url != ''">
                and url like CONCAT('%', #{qo.url}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>