<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calm.user.persistence.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.calm.user.api.entity.SysMenu">
        <!--@Table sys_menu-->
        <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="pcode" column="pcode" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="fontFamily" column="font_family" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="openFlag" column="open_flag" jdbcType="INTEGER"/>
        <result property="systemType" column="system_type" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
    </resultMap>

    <!--默认列表字段-->
    <sql id="column_default">
        menu_id, code, pcode, name, icon, font_family, url, menu_type, status, open_flag, system_type, sort, description, create_time, update_time, create_user, update_user
    </sql>

    <select id="page" resultType="com.calm.user.api.vo.SysMenuVo">
        select
        <include refid="column_default"/>
        from sys_menu
        <where>
            <if test="qo.name != null and qo.name != ''">
                and name like CONCAT(#{qo.name}, '%')
                    or code like CONCAT(#{qo.name}, '%')
            </if>
            <if test="qo.url != null and qo.url != ''">
                and url = #{qo.url}
            </if>
        </where>
    </select>

    <resultMap id="MenuTreeVoMap" type="com.calm.user.api.vo.DTreeVo">
        <result property="id" column="code" jdbcType="VARCHAR"/>
        <result property="parentId" column="pcode" jdbcType="VARCHAR"/>
        <result property="title" column="name" jdbcType="VARCHAR"/>
        <association property="children" column="code" select="selectByCode"/>
    </resultMap>

    <select id="selectByCode" resultMap="MenuTreeVoMap">
        select code, pcode, name
        from sys_menu
        where pcode = #{code}
    </select>

    <select id="selectMenuByCode" resultType="com.calm.user.api.vo.SysMenuVo">
        select
        <include refid="column_default"/>
        from sys_menu
        where code = #{code}
    </select>

    <select id="selectMenuTreeByRoleCodes" resultType="com.calm.common.auth.MenuTree">
        SELECT
        DISTINCT t1.code, t1.pcode, t1.name AS title, t1.icon, t1.font_family, t1.url AS href, t1.menu_type, t1.status,
        t1.open_flag AS spread,t1.open_flag AS isCheck, t1.system_type, t1.sort, t1.description
        FROM sys_menu t1
                 LEFT JOIN sys_role_menu t2 ON t1.`code` = t2.menu_code
        <where>
            t2.role_code IN
            <foreach collection="qo.roleCode" index="index" item="roleCode" open="(" separator="," close=")">
                #{roleCode}
            </foreach>
            <if test="qo.menuType != null">
               and t1.menu_type = #{qo.menuType}
            </if>
            <if test="qo.status != null">
               and t1.status = #{qo.status}
            </if>
            <if test="qo.systemType != null">
               and t1.system_type = #{qo.systemType}
            </if>
        </where>
        ORDER BY t1.sort;
    </select>
</mapper>