<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calm.user.persistence.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.calm.user.api.entity.SysUser">
        <!--@Table sys_user-->
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <!--列表-->
    <sql id="Base_All_column" >
          user_id, avatar, account, code, password, salt, name, birthday, sex, email, phone, remarks,status, create_time, create_user, update_time, update_user, version
    </sql>

    <select id="queryByAccount" resultType="com.calm.user.api.vo.SysUserVo">
        SELECT GROUP_CONCAT(t3.`code`) roleCode,GROUP_CONCAT(t3.`name`) roleName, t1.user_id, t1.avatar, t1.account, t1.code,
        t1.password,t1.salt, t1.name, t1.birthday, t1.sex, t1.email, t1.phone, t1.status, t1.remarks,t1.create_time, t1.create_user,
        t1.update_time, t1.update_user, t1.version
        FROM sys_user t1
        LEFT JOIN sys_user_role t2 ON t2.user_code = t1.`code`
        LEFT JOIN sys_role t3 ON t3.`code` = t2.role_code
        <where>
            <if test="account != null and account != '' ">
                and t1.account = #{account}
            </if>
        </where>
    </select>

    <select id="page" resultType="com.calm.user.api.vo.SysUserVo">
        SELECT GROUP_CONCAT(t3.`code`) roleCode,GROUP_CONCAT(t3.`name`) roleName, t1.user_id, t1.avatar, t1.account, t1.code,
               t1.salt, t1.name, t1.birthday, t1.sex, t1.email, t1.phone, t1.status, t1.remarks,t1.create_time, t1.create_user,
               t1.update_time, t1.update_user, t1.version
        FROM sys_user t1
        LEFT JOIN sys_user_role t2 ON t2.user_code = t1.`code`
        LEFT JOIN sys_role t3 ON t3.`code` = t2.role_code
        <where>
            <if test="qo.startTime != null">
                and t1.create_time &gt;= #{qo.startTime}
            </if>
            <if test="qo.endTime != null">
                and t1.create_time &lt;= #{qo.endTime}
            </if>
            <if test="qo.account != null and qo.account != '' ">
                and t1.account like  CONCAT(#{qo.account}, '%')
            </if>
            <if test="qo.name != null and qo.name != '' ">
                and t1.name like  CONCAT(#{qo.name}, '%')
            </if>
            <if test="qo.email != null and qo.email != '' ">
                and t1.email like  CONCAT(#{qo.email}, '%')
            </if>
            <if test="qo.roleCode != null and qo.roleCode != '' ">
                and t3.`code` = #{qo.roleCode}
            </if>
            <if test="qo.status != null">
                and t1.status = #{qo.status}
            </if>
        </where>
        GROUP BY t1.`code` ORDER BY t1.create_time DESC
    </select>

    <select id="queryByParams" resultType="com.calm.user.api.vo.SysUserVo">
        select user_id, avatar, account, code, name, birthday, sex, email, phone, remarks,status, create_time from sys_user
        <where>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
        </where>
    </select>

    <select id="selectByCode" resultType="com.calm.user.api.vo.SysUserVo">
        SELECT GROUP_CONCAT(t3.`code`) roleCode,GROUP_CONCAT(t3.`name`) roleName, t1.user_id, t1.avatar, t1.account, t1.code,
        t1.name, t1.birthday, t1.sex, t1.email, t1.phone, t1.status, t1.remarks,t1.create_time, t1.create_user,
        t1.update_time, t1.update_user
        FROM sys_user t1
        LEFT JOIN sys_user_role t2 ON t2.user_code = t1.`code`
        LEFT JOIN sys_role t3 ON t3.`code` = t2.role_code
        <where>
            <if test="code != null and code != ''">
                and t1.code = #{code}
            </if>
        </where>
    </select>
</mapper>